.service {

	&__list {
		margin-top: -48px;
		margin-right: -32px;
		padding-top: 40px;

		//@include for-mobile {
		//	flex-wrap: nowrap;
		//	margin-top: 0;
		//	margin-right: 0;
		//}
	}

	&__item {
		@extend .flex;
		@extend .flex-col;
		@extend .align-start;

		width: calc(33.333% - 32px);
		margin-right: 32px;
		margin-top: 48px;

		@include for-mobile {
			width: 100%;
			margin-right: 0;
			margin-top: 0;
		}

		&-img {
			border-radius: 3px;

			@extend .flex;
			@extend .align-center;
		}

		& h3 {
			font-size: 24px;
			line-height: 1.2;
			margin-top: 32px;

			@extend .fw-sb;

			@include for-mobile {
				margin-top: 16px;
				font-size: 17px;
			}
		}

		& p {
			margin-top: 16px;
			padding-bottom: 24px;

			@include for-mobile {
				display: none;
			}
		}

		& .btn {
			margin-top: auto;
			margin-left: 2px;
			margin-bottom: 5px;

			@include for-mobile {
				margin-top: 10px;
			}
		}
	}
}